ul {
  list-style: none;
}
/*----------BODY------------*/
.logotype {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196f3;
}
.log-part2 {
  color: #212121;
}
.nav-list-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 142;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: #2196f3;
}

.adress-list a {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 142px;
  letter-spacing: 2%;
  color: #757575;
  text-decoration: none;
} /*разобраться точки списка остались чёрные*/

.header-mail:hover,
.header-mail:focus {
  color: #2196f3;
}
/*узнать как для двоих классов сделать один ховер и фокус*/
.header-tel:hover,
.header-tel:focus {
  color: #2196f3;
}
/*----------Герой------------*/
.titleh1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 363;
  letter-spacing: 0.06em;
  /*color: #ffffff;*/
}
.btn-heroy {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 0.06em;
  /*color: #FFFFFF;*/
}

/*----------ОСОБЕННОСТИ------------*/

.exclus-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.exclus-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

/*----------works foto--------------*/

/*----------our team--------------*/
.team-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-members {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-members-prof {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/*----------footer--------------*/

/*.log-part-w {
  color: #ffffff;
}
*/
.dres-footer-link {
  text-decoration: none;
}
